In [ ]:
# import library
import pandas as pd
import numpy as np
# split train set dan test set
from sklearn.model_selection import train_test_split

# standardization
from sklearn.preprocessing import StandardScaler

# model Decision Tree
from sklearn.ensemble import RandomForestClassifier

# menilai performa model
from sklearn.metrics import classification_report

# save model untuk deploy
import pickle

# library untuk mengabaikan pesan warning
import warnings
warnings.filterwarnings("ignore")

PREDIKSI IPA

In [ ]:
df = pd.read_csv("datafiks.csv")
df.head()

,Nama Lengkap,Jenis Kelamin,TipeStudi,ProgramStudi,Jurusan SMA,MTK [IPS],Indo [IPS],Eng [IPS],Sosiologi,Geografi,Ekonomi,MTK [IPA],Indo [IPA],Eng [IPA],Biologi,Kimia,Fisika
0,Sastri Oktavia Situmorang,Perempuan,Bahasa dan Seni,Pendidikan Bahasa dan Seni Indonesia,IPS,Sedang,Sangat Tinggi,Sedang,Tinggi,Sedang,Tinggi,NaN,NaN,NaN,NaN,NaN,NaN
1,Vera Febriantika,Perempuan,Bahasa dan Seni,Bahasa dan Seni Mandarin,IPS,Tinggi,Sangat Tinggi,Tinggi,Tinggi,Tinggi,Sangat Tinggi,NaN,NaN,NaN,NaN,NaN,NaN
2,Roza Apriani,Perempuan,Bahasa dan Seni,Pendidikan Bahasa dan Seni Inggris,IPS,Sedang,Sedang,Tinggi,Sedang,Sedang,Sedang,NaN,NaN,NaN,NaN,NaN,NaN
3,Miranda,Perempuan,Bahasa dan Seni,Ilmu Komunikasi,IPS,Sedang,Tinggi,Tinggi,Tinggi,Sedang,Sedang,NaN,NaN,NaN,NaN,NaN,NaN
4,refi septiningtyas,Perempuan,Bahasa dan Seni,Sastra Indonesia,IPS,Sedang,Sedang,Sedang,Tinggi,Sangat Tinggi,Sedang,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Mencoba Rekomendasi Data IPA

ipa = df[['TipeStudi', 'MTK [IPA]', 'Indo [IPA]', 'Eng [IPA]', 'Biologi', 'Kimia', 'Fisika']]
ipa.dropna(inplace=True)
ipa

,TipeStudi,MTK [IPA],Indo [IPA],Eng [IPA],Biologi,Kimia,Fisika
67,Ilmu Pendidikan,Sedang,Sedang,Sedang,Sedang,Sedang,Sedang
68,Kedokteran/Farmasi,Sangat Tinggi,Tinggi,Tinggi,Tinggi,Tinggi,Sedang
69,Kedokteran/Farmasi,Tinggi,Sedang,Rendah,Tinggi,Tinggi,Sedang
70,Kedokteran/Farmasi,Sedang,Sedang,Rendah,Tinggi,Sedang,Rendah
71,Kedokteran/Farmasi,Sedang,Tinggi,Sedang,Tinggi,Sedang,Sedang
...,...,...,...,...,...,...,...
145,Teknik,Tinggi,Sedang,Sedang,Sedang,Sedang,Sedang
146,Teknik,Tinggi,Sedang,Sedang,Sedang,Sedang,Sedang
147,Teknik,Tinggi,Sangat Tinggi,Sedang,Tinggi,Tinggi,Sangat Tinggi
148,Teknik,Sangat Tinggi,Rendah,Tinggi,Tinggi,Sedang,Tinggi
149,Teknik,Sedang,Tinggi,Sedang,Sangat Tinggi,Tinggi,Tinggi

In [ ]:
ipa.isnull().sum()

TipeStudi     0
MTK [IPA]     0
Indo [IPA]    0
Eng [IPA]     0
Biologi       0
Kimia         0
Fisika        0
dtype: int64

In [ ]:
ipa["MTK [IPA]"] = ipa["MTK [IPA]"].astype('category')
ipa["MTK_IPA"] = ipa["MTK [IPA]"].cat.codes
ipa = ipa.drop(['MTK [IPA]'],axis = 1)

ipa["Indo [IPA]"] = ipa["Indo [IPA]"].astype('category')
ipa["Indo_IPA"] = ipa["Indo [IPA]"].cat.codes
ipa = ipa.drop(['Indo [IPA]'],axis = 1)

ipa["Eng [IPA]"] = ipa["Eng [IPA]"].astype('category')
ipa["Eng_IPA"] = ipa["Eng [IPA]"].cat.codes
ipa = ipa.drop(['Eng [IPA]'],axis = 1)

ipa["Biologi"] = ipa["Biologi"].astype('category')
ipa["Biologi_IPA"] = ipa["Biologi"].cat.codes
ipa = ipa.drop(['Biologi'],axis = 1)

ipa["Kimia"] = ipa["Kimia"].astype('category')
ipa["Kimia_IPA"] = ipa["Kimia"].cat.codes
ipa = ipa.drop(['Kimia'],axis = 1)

ipa["Fisika"] = ipa["Fisika"].astype('category')
ipa["Fisika_IPA"] = ipa["Fisika"].cat.codes
ipa = ipa.drop(['Fisika'],axis = 1)

In [ ]:
ipa

,TipeStudi,MTK_IPA,Indo_IPA,Eng_IPA,Biologi_IPA,Kimia_IPA,Fisika_IPA
67,Ilmu Pendidikan,2,2,2,2,3,2
68,Kedokteran/Farmasi,1,3,3,3,4,2
69,Kedokteran/Farmasi,3,2,0,3,4,2
70,Kedokteran/Farmasi,2,2,0,3,3,0
71,Kedokteran/Farmasi,2,3,2,3,3,2
...,...,...,...,...,...,...,...
145,Teknik,3,2,2,2,3,2
146,Teknik,3,2,2,2,3,2
147,Teknik,3,1,2,3,4,1
148,Teknik,1,0,3,3,3,4
149,Teknik,2,3,2,1,4,4

In [ ]:
X = ipa.drop(['TipeStudi'],axis=1).values
y = ipa['TipeStudi'].values

In [ ]:
X

array([[2, 2, 2, 2, 3, 2],
       [1, 3, 3, 3, 4, 2],
       [3, 2, 0, 3, 4, 2],
       [2, 2, 0, 3, 3, 0],
       [2, 3, 2, 3, 3, 2],
       [1, 1, 1, 1, 4, 2],
       [1, 1, 1, 1, 4, 4],
       [3, 3, 2, 2, 3, 2],
       [3, 3, 3, 3, 4, 4],
       [2, 2, 2, 2, 3, 2],
       [3, 3, 3, 3, 4, 4],
       [1, 3, 3, 3, 4, 4],
       [3, 3, 3, 2, 3, 4],
       [3, 2, 2, 2, 3, 2],
       [3, 0, 3, 1, 0, 2],
       [2, 2, 2, 2, 4, 4],
       [3, 3, 2, 2, 3, 2],
       [3, 3, 3, 2, 3, 4],
       [3, 0, 2, 0, 4, 2],
       [2, 2, 2, 2, 3, 4],
       [3, 3, 0, 0, 3, 4],
       [2, 2, 2, 2, 3, 1],
       [2, 3, 3, 2, 3, 2],
       [3, 2, 2, 3, 4, 3],
       [3, 3, 2, 3, 4, 2],
       [2, 3, 3, 2, 4, 4],
       [2, 2, 2, 2, 3, 2],
       [3, 0, 3, 1, 4, 2],
       [2, 0, 2, 3, 4, 2],
       [1, 2, 3, 2, 4, 1],
       [2, 2, 0, 2, 4, 2],
       [3, 2, 3, 3, 4, 4],
       [3, 3, 3, 3, 4, 4],
       [1, 1, 1, 1, 2, 1],
       [1, 2, 3, 2, 1, 4],
       [2, 2, 3, 3, 4, 4],
       [2, 3, 2, 2, 4, 2],
       [3, 1, 2, 3, 3, 1],
       [3, 2, 3, 3, 3, 4],
       [3, 3, 3, 3, 4, 4],
       [0, 0, 0, 0, 0, 0],
       [2, 1, 1, 0, 4, 2],
       [3, 3, 3, 3, 3, 3],
       [2, 2, 3, 2, 3, 2],
       [2, 2, 3, 2, 4, 2],
       [1, 1, 1, 1, 2, 1],
       [3, 3, 3, 3, 3, 2],
       [3, 2, 0, 2, 3, 4],
       [2, 3, 3, 3, 4, 2],
       [2, 2, 2, 0, 4, 2],
       [3, 3, 3, 2, 3, 4],
       [2, 3, 2, 2, 4, 1],
       [2, 2, 2, 2, 3, 2],
       [2, 3, 2, 2, 3, 2],
       [2, 0, 3, 2, 3, 4],
       [3, 2, 0, 2, 3, 2],
       [3, 3, 3, 3, 4, 4],
       [2, 2, 3, 2, 3, 2],
       [1, 3, 1, 1, 2, 4],
       [2, 3, 3, 2, 3, 4],
       [3, 3, 3, 3, 4, 4],
       [3, 2, 2, 0, 3, 1],
       [2, 2, 2, 2, 3, 2],
       [3, 2, 2, 2, 3, 4],
       [2, 0, 3, 2, 3, 4],
       [1, 3, 3, 3, 4, 4],
       [3, 2, 3, 3, 3, 2],
       [3, 2, 2, 3, 0, 1],
       [0, 2, 2, 3, 4, 2],
       [3, 2, 3, 2, 4, 2],
       [3, 2, 2, 2, 4, 2],
       [2, 2, 3, 2, 4, 4],
       [3, 3, 2, 3, 3, 2],
       [3, 2, 3, 2, 3, 2],
       [3, 2, 3, 2, 3, 2],
       [3, 2, 2, 2, 3, 4],
       [2, 2, 2, 2, 3, 2],
       [3, 2, 2, 2, 4, 4],
       [3, 2, 2, 2, 3, 2],
       [3, 2, 2, 2, 3, 2],
       [3, 1, 2, 3, 4, 1],
       [1, 0, 3, 3, 3, 4],
       [2, 3, 2, 1, 4, 4]], dtype=int8)

In [ ]:
from imblearn.over_sampling import RandomOverSampler
ovr = RandomOverSampler(random_state=42)
X_res, y_res = ovr.fit_resample(X, y)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size=0.2, random_state=42)

In [ ]:
model = RandomForestClassifier(bootstrap=False, ccp_alpha=0.0,
                       class_weight='balanced_subsample', criterion='gini',
                       max_depth=6, max_features=1.0, max_leaf_nodes=None,
                       max_samples=None, min_impurity_decrease=0,
                       min_samples_leaf=4,
                       min_samples_split=7, min_weight_fraction_leaf=0.0,
                       n_estimators=300, n_jobs=-1, oob_score=False,
                       random_state=123, verbose=0, warm_start=False)
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=False, class_weight='balanced_subsample',
                       max_depth=6, max_features=1.0, min_impurity_decrease=0,
                       min_samples_leaf=4, min_samples_split=7,
                       n_estimators=300, n_jobs=-1, random_state=123)

In [ ]:
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

                    precision    recall  f1-score   support

   Ilmu Pendidikan       0.80      1.00      0.89        12
Kedokteran/Farmasi       0.90      0.82      0.86        11
              MIPA       0.75      0.46      0.57        13
            Teknik       0.55      0.75      0.63         8

          accuracy                           0.75        44
         macro avg       0.75      0.76      0.74        44
      weighted avg       0.76      0.75      0.74        44

In [ ]:
df_rec = pd.read_csv("/content/datafiks.csv")
df_rec = df_rec[['ProgramStudi','TipeStudi']]
df_rec

                             ProgramStudi        TipeStudi
0    Pendidikan Bahasa dan Seni Indonesia  Bahasa dan Seni
1                Bahasa dan Seni Mandarin  Bahasa dan Seni
2      Pendidikan Bahasa dan Seni Inggris  Bahasa dan Seni
3                        Ilmu Komunikasi   Bahasa dan Seni
4                        Sastra Indonesia  Bahasa dan Seni
..                                    ...              ...
145                       Teknik Industri           Teknik
146                       Teknik Industri           Teknik
147                    Teknik Informatika           Teknik
148                        Teknik Elektro           Teknik
149                      Sistem Informasi           Teknik

[150 rows x 2 columns]

In [ ]:
# periksa jumlah data duplikat
df_rec.duplicated().sum()

102

In [ ]:
df_rec.drop_duplicates(inplace=True)

In [ ]:
def Recommender(X):
    a = df_rec[df_rec['TipeStudi']==X].values
    b = a[:,0]
    print(f'Rekomendasi Jurusan: {b}', end='')

In [ ]:
def MTK(X):
  if X == 'Sedang':
    result = 2
  elif X == 'Sangat Tinggi':
    result = 1
  elif X == 'Tinggi':
    result = 3
  elif X == 'Rendah' or X == 'Sangat Rendah' :
    result = 0
  return result

def KIM(X):
  if X == 'Sangat Rendah':
    result = 1
  elif X == 'Sangat Tinggi':
    result = 2
  elif X == 'Sedang':
    result = 3
  elif X == 'Tinggi':
    result = 4
  elif X == 'Rendah':
    result = 0
  return result

def FIS(X):
  if X == 'Sangat Tinggi':
    result = 1
  elif X == 'Sedang':
    result = 2
  elif X == 'Tinggi':
    result = 4
  elif X == 'Rendah' or X == 'Sangat Rendah' :
    result = 0
  return result

In [ ]:
MTK_IPA = 'Rendah' #@param ['Sedang','Sangat Tinggi','Tinggi','Rendah','Sangat Rendah','Rendah Sekali']{type:"string"}
MTK_IPA = MTK(MTK_IPA)
Indo_IPA = 'Sangat Tinggi' #@param ['Sedang','Sangat Tinggi','Tinggi','Rendah','Sangat Rendah','Rendah Sekali']{type:"string"}
Indo_IPA = MTK(Indo_IPA)
Eng_IPA = 'Sangat Tinggi' #@param ['Sedang','Sangat Tinggi','Tinggi','Rendah','Sangat Rendah','Rendah Sekali']{type:"string"}
Eng_IPA = MTK(Eng_IPA)
Biologi_IPA = 'Sangat Rendah' #@param ['Sedang','Sangat Tinggi','Tinggi','Rendah','Sangat Rendah','Rendah Sekali']{type:"string"}
Biologi_IPA = MTK(Biologi_IPA)
Kimia_IPA = 'Rendah' #@param ['Sedang','Sangat Tinggi','Tinggi','Rendah','Sangat Rendah','Rendah Sekali']{type:"string"}
Kimia_IPA = KIM(Kimia_IPA)
Fisika_IPA = 'Tinggi' #@param ['Sedang','Sangat Tinggi','Tinggi','Rendah','Sangat Rendah','Rendah Sekali']{type:"string"}
Fisika_IPA = FIS(Fisika_IPA)

# initialize list of lists
data = [[MTK_IPA,Indo_IPA,Eng_IPA,Biologi_IPA,Kimia_IPA,Fisika_IPA]]

# Create the pandas DataFrame
New_Data = pd.DataFrame(data, columns=['MTK_IPA','Indo_IPA','Eng_IPA','Biologi_IPA','Kimia_IPA','Fisika_IPA'])

Prediction = model.predict(New_Data)
pred = Prediction
rec_str = pred.item()[:]

print("\n")
print(f'Program Studi Yang Direkomendasikan: {rec_str}', end='')
print("\n")
rec = Recommender(rec_str)

Program Studi Yang Direkomendasikan: Teknik

Rekomendasi Jurusan: ['Teknik Industri' 'Teknik Kimia' 'Teknik Sipil' 'Teknik Informatika '
 'Teknik Informatika' 'Teknik Elektro' 'Teknik Mesin' 'Sistem Informasi'
 'Sistem Informasi ' 'Teknik informatika' 'Ilmu Komputer']

In [ ]:
pickle.dump(model, open('model_ipa.pkl', 'wb'))